
.wrapper .loader{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.loader .loading{
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.7s ease infinite;
}
.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation-delay: 0.5s;
}
@keyframes load{
    0%{
        width: 10px;
        height: 10px;
    }
    50%{
        width: 5px;
        height: 5px;

    }
}